<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="top-bar">
        <h1 class="logo">logo</h1>
    </div>

    <aside class="menu-lateral">
       <div class="div-mercado">
        <h1 class="mercado">MERCADO</h1>
       </div>

       <div class="pesquisa">
         <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="pesquisa">
        </div>

        <hr class="linha">

        <nav class="section">
            <a href="novo-anuncio" class="section-btn">
                <i class="fas fa-plus"></i> NOVO ANUNCIO
            </a>

            <a href="sua-conta" class="section-btn">
                <i class="far fa-user"></i> SUA CONTA
            </a>

        </nav>

        <hr class="linha">

         <nav class="section">
             <a href="licalização" class="section-btn">
                <i class="far fa-user"></i> LOCALIZAÇÃO
            </a>

              <hr class="linha">

              <nav class="menu-section">
            
                <i class="fas fa-chevron-right"></i> CATEGORIAS
            </a>
        </nav>

    </aside>

    
</body>
</html>