<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="./public/login.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <div class="login-container">
        
        <div class="login-banner">
            <div class="overlay-verde"></div>
            <div class="banner-content">
                <h1>Agro Direto</h1>
                <p>Conectando quem produz com quem precisa. O mercado agrícola na palma da sua mão.</p>
            </div>
        </div>

        <div class="login-form-section">
            <form class="login-form" action="/" method="GET">
                
                <div class="login-header">
                    <h2>Bem-vindo de volta!</h2>
                    <p>Acesse sua conta para gerenciar seus anúncios e vendas.</p>
                </div>

                <div class="input-group">
                    <i class="fa-regular fa-envelope icone-input"></i>
                    <input type="email" placeholder="Seu e-mail" required>
                </div>

                <div class="input-group">
                    <i class="fa-solid fa-lock icone-input"></i>
                    <input type="password" id="campo-senha" placeholder="Sua senha" required>
                    <i class="fa-regular fa-eye icone-senha" id="btn-senha" onclick="toggleSenha()"></i>
                </div>

              
                
                    <a href="home" class="btn-login" style="display: block; text-align: center; text-decoration: none; box-sizing: border-box;">
                        Entrar na Conta
                        </a>

                <p class="register-link">Ainda não tem conta? <a href="cadastro">Cadastre-se agora</a></p>
                
            </form>
        </div>

    </div>

    <script src="./public/login.js" defer></script>
 

</body>
</html>