<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="./public/home.css">
    <link rel="stylesheet" href="./public/meus-pedidos.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    
    <header class="top-bar">
        <a href="home">
    <img src="/public/fotos/agro-direto.png" class="logo" alt="Logo Agro Direto">
    </a>
    <div class="top-bar-icons">
        <a href="#" class="icon-top" title="Notificações">
            <i class="fa-regular fa-bell"></i>
            <span class="badge-notificacao">3</span> </a>
        
        <a href="/minhas-vendas" class="icon-top" title="Minhas Vendas">
            <i class="fa-solid fa-handshake"></i>
        </a>
    </div>
</header>


    <div class="layout-principal">

        <aside class="menu-lateral">
            <div class="div-mercado">
                <h1 class="mercado">MERCADO</h1>
            </div>

            <div class="pesquisa">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="pesquisar" class="box-pesquisa">
            </div>

            <hr class="linha">

            <nav class="section">
                <a href="novo-anuncio" class="section-btn">
                    <i class="fas fa-plus"></i> NOVO ANUNCIO
                </a>

                <a href="sua-conta" class="section-btn">
                    <i class="far fa-user"></i> SUA CONTA
                </a>
            </nav>

            <hr class="linha">

            <nav class="section">
                <a href="localização" class="section-btn">
                    <i class="fas fa-map-marker-alt"></i> LOCALIZAÇÃO
                </a>
            </nav>
            
            <hr class="linha">

            <nav class="section">
                <div class="section-btn" onclick="abrirCategorias()" style="cursor: pointer;">
                    <i class="fas fa-chevron-right" id="seta-categorias"></i> CATEGORIAS
                </div>
                <div class="sub-categorias" id="lista-categorias">
                    <div class="section-btn sub-item">Sementes</div>
                    <div class="section-btn sub-item">Alimenticios</div>
                    <div class="section-btn sub-item">Maquinas</div>
                    <div class="section-btn sub-item">Alimenticios</div>
                    <div class="section-btn sub-item">Maquinas</div>
                </div>
            </nav>
        </aside>

        <main class="conteudo-pedidos">
            <div class="cabecalho-pedidos">
                <h1><i class="fa-solid fa-box-open"></i> Meus Pedidos</h1>
            </div>

            <div class="lista-pedidos">
                
                <div class="card-pedido">
                    <img src="public/fotos/semente.avif" alt="Semente de Milho" class="img-pedido">
                    
                    <div class="info-pedido">
                        <h2>Sementes de milho</h2>
                        <p class="vendedor"><i class="fa-solid fa-shop"></i> Seu Zé Produtos Agrícolas</p>
                        <p class="data">Realizado em: <strong>12/10/2023</strong></p>
                    </div>

                    <div class="status-pedido">
                        <span class="badge status-concluido">Concluído</span>
                        <p class="valor-pedido">R$ 300,00</p>
                    </div>
                </div>

                <div class="card-pedido">
                    <img src="public/fotos/semente.avif" alt="Outro Produto" class="img-pedido">
                    
                    <div class="info-pedido">
                        <h2>Adubo Orgânico 50kg</h2>
                        <p class="vendedor"><i class="fa-solid fa-shop"></i> Fazenda Esperança</p>
                        <p class="data">Realizado em: <strong>15/10/2023</strong></p>
                    </div>

                    <div class="status-pedido">
                        <span class="badge status-pendente">Aguardando Separação</span>
                        <p class="valor-pedido">R$ 120,00</p>
                        
                    </div>
                </div>

            </div>
        </main>

    </div>
    </div> <script src="./public/menu-lateral.js" defer></script>

</body>
</html>