<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/home.css">
    <link rel="stylesheet" href="./public/perfil.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <header class="top-bar">
        <a href="home">
    <img src="/public/fotos/agro-direto.png" class="logo" alt="Logo Agro Direto">
    </a>
    <div class="top-bar-icons">
        <a href="#" class="icon-top" title="Notificações">
            <i class="fa-regular fa-bell"></i>
            <span class="badge-notificacao">3</span> </a>
        
        <a href="/minhas-vendas" class="icon-top" title="Minhas Vendas">
            <i class="fa-solid fa-handshake"></i>
        </a>
    </div>
</header>


    <div class="layout-principal">
        <aside class="menu-lateral">
            <div class="div-mercado">
                <h1 class="mercado">MERCADO</h1>
            </div>

            <div class="pesquisa">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="pesquisar" class="box-pesquisa">
            </div>

            <hr class="linha">

            <nav class="section">
                <a href="novo-anuncio" class="section-btn">
                    <i class="fas fa-plus"></i> NOVO ANUNCIO
                </a>
                <a href="sua-conta" class="section-btn active">
                    <i class="far fa-user"></i> SUA CONTA
                </a>
            </nav>

            <hr class="linha">

            <nav class="section">
                <a href="localização" class="section-btn">
                    <i class="fas fa-map-marker-alt"></i> LOCALIZAÇÃO
                </a>
            </nav>
            <hr class="linha">

            <nav class="section">
                <div class="section-btn" onclick="abrirCategorias()" style="cursor: pointer;">
                    <i class="fas fa-chevron-right" id="seta-categorias"></i> CATEGORIAS
                </div>
                <div class="sub-categorias" id="lista-categorias">
                    <div class="section-btn sub-item">Sementes</div>
                    <div class="section-btn sub-item">Alimenticios</div>
                    <div class="section-btn sub-item">Maquinas</div>
                </div>
            </nav>
        </aside>

        <main class="conteudo-perfil">
            <div class="card-usuario">
                <div class="user-header">
                    <div class="foto-perfil">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="user-titles">
                        <h1 class="nome-display">Pedro</h1>
                        <div class="badges">
                            <span class="badge">Vendedor</span>
                            <span class="badge">Comprador</span>
                        </div>
                    </div>
                </div>

                <div class="user-grid">
                    <div class="info-item">
                        <label><i class="fa-solid fa-envelope"></i> E-mail</label>
                        <p>pedro@pedro.com</p>
                    </div>
                    <div class="info-item">
                        <label><i class="fa-solid fa-phone"></i> Telefone</label>
                        <p>(49) 98842-0670</p>
                    </div>
                    <div class="info-item">
                        <label><i class="fa-solid fa-wheat-awn"></i> Propriedade</label>
                        <p>Recanto das Emas</p>
                    </div>
                    <div class="info-item">
                        <label><i class="fa-solid fa-location-dot"></i> Endereço</label>
                        <p>teste, 2, teste</p>
                    </div>
                    <div class="info-item full-width pix-highlight">
                        <label><i class="fa-brands fa-pix"></i> Chave PIX</label>
                        <p>999.999.999-72</p>
                    </div>
                </div>

                <div class="user-actions">
                    <a href="meus-pedidos" class="btn-perfil btn-pedidos">
                        <i class="fa-solid fa-box-open"></i> Meus Pedidos
                    </a>
                    <a class="btn-perfil btn-anuncios" href="meus-anuncios">
                        <i class="fa-solid fa-bullhorn"></i> Meus Anúncios
                    </a>
                </div>
            </div>
        </main>
    </div>

    <script src="./public/menu-lateral.js" defer></script>
</body>
</html>