* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: #F8F9FA; 
}

.top-bar {
    background-color: #1a7225;
    padding: 0 30px; 
    border-bottom: 2px solid #999;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: 80px; 
    
    
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.top-bar > a {
    display: flex;
    align-items: center;
    height: 100%; 
    width: 13%;   
    min-width: 160px; 
    text-decoration: none;
}

.logo {
    width: 100%; 
    height: auto;
    display: block;
    margin-left: 18%;
}

.top-bar-icons {
    display: flex;
    gap: 60px; 
    align-items: center;
    margin-right: 3%;
    
}

.icon-top {
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    position: relative; 
    transition: transform 0.2s ease, color 0.2s ease;
}

.icon-top:hover {
    color: #eaf1e3; 
    transform: scale(1.1); 
}


.badge-notificacao {
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: #e74c3c; /* Vermelho vivo */
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.linha {
    border: none;
    border-top: 1px solid #999;
    
}


.menu-lateral {
   
    position: sticky; 
    top: 80px;
    
    width: 20%;
    min-width: 300px;
    height: calc(100vh - 80px);
    background-color: #ececec; 
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto; 
    flex-direction: column;
    padding-top: 10px;
    border-right: 1px solid #bbb;
}
.mercado {
    justify-content: center;
    display: flex;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 3rem;
  font-style: bold;
  color: #417205;
  margin-top: 2%;
}

.box-pesquisa {
    border: none;
    outline: none;
    background-color: #dadada;
    
    
}

.pesquisa {
    margin-left: 10%;
    margin-right: 10%;
   
    margin-top: 25px;
    margin-bottom: 25px;
    
    padding: 17px;
    background-color: #dadada;
    border-radius: 10px;
}


.section {
    flex-direction: column;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    
}


.section-btn {
    color: #212529;
    text-decoration: none;
    padding: 20px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.6rem;
    font-style: bold;
    background-color: #dadada;
    border-radius: 10px;
    
    /* 👇 MUDANÇA: Evite margem vertical em % para sumir com a barra fantasma */
    margin-top: 15px;
    margin-bottom: 15px; 
}

.section-btn:hover {

   background-color: #339c41;
}

.sub-categorias {
    display: none; 
    flex-direction: column;
    margin-top: 10px;
    
    gap: 10px;
}

.sub-categorias.mostrar {
    display: flex; 
}

.sub-item {
    font-size: 2rem;
    background-color: transparent; 
}

.section-btn i{
    transition: transform 0.3s ease; 
}

.girar-seta{
    transform: rotate(90deg); 
}
.grid-anuncios {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px; 
    padding: 20px;
    flex: 1; 

}

.card-anuncios {
    background-color: #ececec;
    border-radius: 20px; 
    border: 1px solid #e9ecef;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease; 
}


.card-anuncios:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}


.imagem-card {
    width: 100%;
    height: 325px; 
    object-fit: cover; 
}


.rodape-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.titulo {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
    
  font-optical-sizing: auto;
  font-weight: 700;
}

.preco {
    font-size: 1.6rem;
 
  font-optical-sizing: auto;
  font-weight: 700;
    color: #487c22; 
    margin-bottom: 15px;
}


.btn-anuncio {
    text-align: center;
    background-color: #0e93d6; 
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;

  font-optical-sizing: auto;
  font-weight: 700;
    margin-top: auto; 
    transition: background-color 0.2s;
}

.btn-anuncio:hover {
    background: #339c41;

  font-size: 1.2rem;
}

.layout-principal {
    display: flex;
    align-items: flex-start; 
    width: 100%;
}

.conteudo-principal {
    flex: 1; 
    width: 100%;
    
}
